body {
    font-family: Arial, sans-serif; /* Define a fonte para todo o corpo do documento */
    font-size: 16px; /* Define o tamanho da fonte para 16 pixels */
    line-height: 1.5; /* Define a altura da linha como 1.5 para melhor legibilidade */
    margin: 0; /* Remove as margens padrão do corpo do documento */
    padding: 0; /* Remove o preenchimento padrão do corpo do documento */
    background-color: #f8f9fa; /* Define a cor de fundo para um tom de cinza claro */
 }
 
 header {
    background-color: #343a40; /* Define a cor de fundo do cabeçalho para um tom de cinza escuro */
    color: #fff; /* Define a cor do texto no cabeçalho como branco */
    padding: 20px 0; /* Adiciona preenchimento de 20 pixels acima e abaixo do conteúdo do cabeçalho */
 }
 
 h1 {
    margin: 0; /* Remove as margens padrão do título h1 */
    padding: 0; /* Remove o preenchimento padrão do título h1 */
    text-align: center; /* Centraliza o texto do título h1 */
    font-size: 24px; /* Define o tamanho da fonte para o título h1 como 24 pixels */
 }
 
 nav ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista de navegação */
    text-align: center; /* Centraliza os itens da lista de navegação */
 }
 
 nav ul li {
    display: inline; /* Exibe os itens da lista de navegação em linha */
    margin-right: 20px; /* Adiciona uma margem à direita de 20 pixels entre os itens */
 }
 
 nav ul li a {
    color: #fff; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove a decoração de texto padrão dos links */
    font-size: 18px; /* Define o tamanho da fonte para os links como 18 pixels */
    transition: color 0.3s ease; /* Adiciona uma transição suave na mudança de cor dos links */
 }
 
 nav ul li a:hover {
    color: #ffc107; /* Muda a cor do texto dos links para amarelo ao passar o mouse sobre eles */
 }
 
 main {
    padding: 20px; /* Adiciona preenchimento ao conteúdo principal */
    text-align: center; /* Centraliza o texto no conteúdo principal */
 }
 
 footer {
    background-color: #343a40; /* Define a cor de fundo do rodapé para um tom de cinza escuro */
    color: #fff; /* Define a cor do texto no rodapé como branco */
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 10px 0; /* Adiciona preenchimento de 10 pixels acima e abaixo do conteúdo do rodapé */
    position: fixed; /* Fixa o rodapé na parte inferior da janela do navegador */
    bottom: 0; /* Alinha o rodapé na parte inferior da janela do navegador */
    width: 100%; /* Define a largura do rodapé como 100% da largura da janela do navegador */
 }